/* fonts and boilerplate */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@font-face {
    font-family: "PPNeueMontreal-MonoBook";
    src: url(font/PPNeueMontrealMono-Book.woff2);
}

@font-face {
    font-family: "PPNeueMontreal-Book";
    src: url(font/PPNeueMontreal-Book.woff2);
}

@font-face {
    font-family: "PPNeueMontreal-Medium";
    src: url(font/PPNeueMontreal-Medium.woff2);
}

@font-face {
    font-family: "PPNeueMontreal-Bold";
    src: url(font/PPNeueMontreal-Bold.woff2);
}

:root {
    --book-font: "PPNeueMontreal-Book", sans-serif;
    --medium-font: "PPNeueMontreal-Medium", sans-serif;
    --bold-font: "PPNeueMontreal-Bold", sans-serif;
    --d-blue: #3549FC;
    --d-black: rgb(48, 48, 64);
}

/* Standard */

body {
    margin: 0;
}

h1, h2  {
    font-family: var(--bold-font);
    font-weight: normal;
    color: var(--d-black)
}

h2 {
    font-size: 3rem;
}

h3 {
    font-family: var(--book-font);
    font-weight: normal;
    font-style: italic;
    color: var(--d-black)
}

p, a {
    font-family: var(--book-font);
    color: var(--d-black)
}

a:hover, a:focus {
    background-color: var(--d-blue);
    color: white;
}

.general-sec, footer {
    margin: 4rem 1rem 2rem 1rem;
}

.general-sec h2 {
    margin-bottom: 1rem;
}


/* header */

header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2rem 0;
}

header h1 {
    font-size: 16.5vw;
    margin: 0;
}

header .h1-anchor {
    text-decoration: none;
}

.h1-anchor:hover, .h1-anchor:focus {
    background-color: unset;
}


/* figures (featured gallery) */

.featured-item {
    margin: 1rem 0;
}

.featured-item img {
    width: 100%;
    height: auto;
}

/* contactlinks */

/* .contact-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

.contact-links p {
    margin: 0;
}

.link-icon-pair {
    display: flex;
}


/* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

@media (width >= 50rem) { /* 800px */
    header {
        justify-content: center;
    }

    .header-content {
        width: 50rem;
        margin: 0 2rem;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    header h1 {
        font-size: 4rem;
    }

    #featured {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 1fr 1fr;
    }

    .featured-item {
        margin: 0;
    }

    footer {
        width: 50rem;
        margin: 6rem auto;
    }
    
    .small-width {
        width: 50rem;
        margin: 0 auto;
    }

}