@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@font-face {
    font-family: "PPNeueMontreal-MonoBook";
    src: url(font/PPNeueMontrealMono-Book.woff2);
}

@font-face {
    font-family: "PPNeueMontreal-Book";
    src: url(font/PPNeueMontreal-Book.woff2);
}

@font-face {
    font-family: "PPNeueMontreal-Medium";
    src: url(font/PPNeueMontreal-Medium.woff2);
}

@font-face {
    font-family: "PPNeueMontreal-Bold";
    src: url(font/PPNeueMontreal-Bold.woff2);
}

:root {
    --reg-font: "PPNeueMontreal-Book", sans-serif;
    --mono-font: "PPNeueMontreal-MonoBook", monospace;
    --dylan-blue: rgb(53, 73, 252);
    --dylan-orange: rgb(235, 85, 40);
}

body {
    margin: 9;
    background-color: white;
}

.logo {
    width: 2rem;
    height: 100%;
}

header {
    display: flex;
    gap: 0.5rem;
    border-bottom: 0.25rem solid var(--dylan-blue);
}

header h1 {
    font-family: var(--reg-font);
    font-weight: 300;
    color: var(--dylan-blue);
    font-size: 2rem;
    margin: 0;
}

header a {
    text-decoration: none;
}

p, a, li {
    font-family: var(--reg-font);
    color: var(--dylan-blue);
    font-size: 1.5rem;
}

h1:hover, a:hover, a:focus {
    background-color: var(--dylan-blue);
    color: white;
    transition: 200ms color;
}

h2, h3 {
    font-family: var(--reg-font);
    color: var(--dylan-blue);
    font-weight: 400;
    font-size: 2rem;
    border-bottom: 0.25rem solid var(--dylan-blue);
}

.list-proj h3 {
    border-bottom: none;
    font-size: 1.5rem;
    margin: 2rem 0;
}

.list-proj {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.then {
    opacity: 75%;
}

hr {
    background-color: var(--dylan-blue);
    border: none;
    height: 0.25rem;
}

.callout p {
    font-style: italic;
}

.two-col-for-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
}

.two-col-for-info p {
    margin: 0.25rem 0;
}

#intro {
    margin-top: 1rem;
}

.faded {
    opacity: 50%;
}

@media (width > 64rem) {
    header, main {
        width: 48rem;
        margin: 0 auto;
    }
    .two-col {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}