#overlay {
    background-color: rgba(15, 0, 83, 0.35);
    position: absolute;
    min-height: 100vh;
}

.index {
    background: url(IMG_1194.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    margin: 0;
}

/* variables */
:root {
    --main-font: "Almarai", sans-serif;
    --border: 0.25px solid #232323;
}

.almarai-light {
    font-family: "Almarai", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.almarai-regular {
    font-family: "Almarai", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.almarai-bold {
    font-family: "Almarai", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.almarai-extrabold {
    font-family: var(--main-font);
    font-weight: 800;
    font-style: normal;
}   

h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

p, a, li {
    font-size: 20px;
    font-weight: 300;
}

a {
    color: #5030dc;
    text-decoration: none;
}

.index-items {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 8px;
    padding-bottom: 50px;
}

.index-items p {
    font-size: 64pt;
    margin: 0px 0px -24px 0px;
    font-kerning: normal;
    color: #232323;
}

.index-items a p {
    color: #5030dc;
}

.index-items a {
    text-decoration: none;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #fff;
    border-radius: 50px;
    margin: 8px;
    padding: 0 16px;
}

.shadow {
    box-shadow: 0px 0px 50px rgb(0, 0, 0, 0.25);
}

/* spacer */
.cover { 
    height: 500px;
}

.main {
    padding: 16px;
    background-color: #fff;
}

.main h1{
    font-size: 64pt;
}

.no-col {
    display: block;
}

.twocol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
}

.twocol h2 {
    font-size: 32pt;
    margin: 0px 0px 0px 16px;
}

.twocol p {
    color: #232323
}

.link-container {
    display: flex;
    width: 95vw;
    justify-content: space-between;
}

.index-items .main {
    background-color: rgb(255, 255, 255, 0);
}

#home-header, .nav {
    font-size: 20px;
}

.nav {
    display: flex;
    gap: 20px;
    margin: -20px 0px;
    transition: font-weight 1s;
}

.nav li {
    display: inline;
}

.nav a {
    text-decoration: none;
    
}

.gallery {
    display: flex;
    padding: 16px;
    background-color: #fff;
    justify-content: center;
    gap: 16px;
}

.element {
    position: relative;
}

.gallery .element img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.gallery-overlay {
    position: absolute; 
    left: 0;
    top: 0;
    background-color: rgba(29, 27, 36, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 120ms ease;
}

.gallery-overlay h2, p {
    color: #fff;
    margin-left: 16px;
}

.gallery-overlay h2 {
    margin:16px 0px -16px 16px;
    font-size: 24pt;
    font-weight: 300;
}

.gallery-overlay p {
    color: rgb(255, 255, 255, 0.7);
}

.element:hover .gallery-overlay {
    opacity: 1;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin-right: 16px;
}

footer p {
    color: #232323;
}

.footer-links {
    display: flex;
    justify-content:space-around;
    list-style-type:none;
    gap: 16px;
    padding: 0;
}

.item {
    margin-bottom: 48px;
}